.splider{
    box-sizing: border-box;
}

.splider-container{
    border: 1px solid black;
}

.splider-wrapper{
    width: 80%;
    min-height: 500px;
    border: 1px solid black;
    
}
.splider-naviqator{
    width: 80%;
    min-height: 100px;
    border: 1px solid black;
}