@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.wine {
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  background-color: rgb(224, 224, 224);
  padding: 10px;
  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

.wine .wineTitle {
  font-weight: 800;
}

.wine .wineDescription {
  color: darkgrey;
  font-style: italic;
}

.wine .wineRating {
  font-weight: 500;
}

.wine .heart {
  width: 30px;
  height: 30px;
}
